
@{
    ViewBag.Title = "addCustomer";
}

<h2>addCustomer</h2>
Name: <input id="name" type="text" />
<br />
Address: <input id="address type="text" />
<br />
Contact No: <input id="contact" type="text" />
<br />
Email: <input id="email" type="text" />
<br />
<input id="Submit1" type="submit" value="Submit" />