
@{
    ViewBag.Title = "addCustomer";
}

<h2>Customer Registration</h2>
<form action="addCustomerConfirm" method="post">
Name: 
<br/>
<input id="name" type="text" />
<br /><br />
Address:
<br/>
<input id="address" type="text" />
<br /><br />
Contact No: 
<br/>
<input id="contact" type="text" />
<br /><br />
Email: 
<br>
<input id="email" type="text" />
<br /><br />
<input id="Submit1" type="submit" value="Submit" />
</form>