@model IEnumerable<OnlineShopping.Models.user>

@{
    ViewBag.Title = "manageCustomer";
}

<h2>Manage Customer</h2>

<br />
<table class="table">
    <tr>
        <th>
            <div class="control-label col-md-2"><b> Name </b></div>
        </th>
        <th>
            <div class="control-label col-md-2"><b> Email </b></div>
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userID })
        </td>
    </tr>
}

</table>
