
@{
    ViewBag.Title = "addProduct";
}

<h2>addProduct</h2>
<br />
Item Code <br />
<input id="code" type="text" />
<br /><br />
Item Name <br />
<input id="name" type="text" />
<br /><br />
Item Category <br />
<input id="category" type="text" />
<br /><br />
Stock <br />
<input id="stock" type="text" />
<br /><br />
Price <br />
<input id="price" type="text" value="RM"/>
<br /><br />
<input id="submit" type="submit" value="Submit" /> <input id="cancel" type="reset" value="Cancel" />