@{
    ViewBag.Title = "About";
}
<h2>About ShopFree</h2>
<br />
<h4>Who are we</h4>
<p>ShopFree® is home to the finest collection designer and brand name online stores.  The center is operated by "Aquafil Co.", a wholly owned subsidiary of Nurfarahin Nadhirah Ramjali,
    Ameera Akmalia Alias and Ikmal Fitri Amran. </p>
<br />
<h4>Target Customer</h4>
<p>ShopFree® is targeting a wide range of online shoppers including local and international visitors.</p>
<br />
<h4>Job Opportunities</h4>
<p>View a complete list of field and corporate positions currently available with ShopFree®</p>
