@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Aquafil Co.<br />
    81310 Johor Bahru, Malaysia<br />
    <abbr title="Phone">P:</abbr>
    +607 11223344
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ameeraakmaliaalias@gmail.com">ameeraakmaliaalias@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:nrfrhnnadhirah@gmail.com">nrfrhnnadhirah@gmail.com</a><br />
    <strong>Technical:</strong> <a href="mailto:ikmalfi3.amran@gmail.com">ikmalfi3.amran@gmail.com</a>
</address>